@media screen and (max-width: 420px) {
    .route-selector {
        width: 100%;
        height: fit-content;
        right: 0;
        bottom: 0;
        display: block;
        padding: 8px 26px;
        border-radius: 12px 12px 0 0;
    }

    .route-info {
        width: 96%;
        right: 2%;
        top: 1%;
        height: fit-content;
        padding: 14px 26px 8px 26px;
        height: 80%;
        overflow: scroll;
    }

    .input__readonly {
        width: 85%;
    }

    .swap-icon-container {
        position: absolute;
        right: 26px;
        top: 40%;
    }

    #from_remove {
        margin-bottom: 8px;
    }
}