@media screen and (max-width: 420px) {
    .route-selector {
        width: 100%;
        height: fit-content;
        right: 0;
        bottom: 0;
        display: block;
        padding: 36px 26px;
        border-radius: 12px 12px 0 0;
    }

    .route-info {
        width: 96%;
        right: 2%;
        bottom: 21%;
    }

    .input__readonly {
        width: 85%;
        margin-bottom: 16px;
    }

    .swap-icon-container {
        position: absolute;
        right: 26px;
        top: 43%;
    }
}