* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    height:100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.metro-app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.metro-app__scheme-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.metro-scheme-view {
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    position: relative;
    touch-action: none;
    transition: opacity .2s;
    transition-delay: .1s;
}

.metro-scheme-view__scheme-container {
    overflow: visible;
    outline: 0;
    position: absolute;
}

.metro-scheme-view svg * {
    user-select: none;
}

#main_map > g {
    cursor: pointer;
}

.route-selector {
    position: absolute;
    width: 652px;
    height: 116px;
    right: 40px;
    bottom: 60px;
    padding: 36px 32px;
    background: #494949;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.station-input {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.input__readonly {
    font-weight: 700;
    height: 44px;
    width: 262px;
    border-radius: 22px;
    border: 0;
    background: #F5F5F5;
    padding: 0 20px;
    color: #494949;
    user-select: none;
    cursor: pointer;
}

.route-info {
    position: absolute;
    width: 358px;
    right: 40px;
    bottom: 196px;
    background: #494949;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24);
    border-radius: 24px;
    padding: 26px 26px 52px 26px;
    display: flex;
    flex-direction: column;
}

.time-container {
    display: flex;
    font-size: 18px;
    color: #ffffff;
}

.total-time, .label, .station-name {
    font-weight: 600;
}

.sub-time, .load-info {
    font-weight: 700;
}

.time-icon__wrapper {
    align-items: center;
    margin: 0 8px 0 0;
}

.label__wrapper {
    padding: 10px 0 0 0;
    color: #ffffff;
}

.route-step__wrapper {
    padding: 20px 0;
    border-bottom: 1px solid #414141;
    font-size: 14px;
}

.route-step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.station-transfer-indicator {
    display: flex;
    align-items: center;
}

.sub-time__wrapper {
    display: flex;
    align-items: center;
    color: #000;
}

.arrow__icon {
    margin: 0 0 0 16px;
}

.station-line__icon {
    margin: 0 3px 0 0;
}

.sub-time__icon {
    margin: 0 4px 0 0;
}

.first {
    margin: 0 0 6px 0;
}

.load-indicator__wrapper {
    display: flex;
    align-items: center;
}

.additional-time {
    color: #EAD624;
}

.load-indicator__icon {
    margin: 0 4px 0 0;
}

.load-info {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

._faded {
    opacity: .3;
}

._highlighted {
    opacity: 1;
}

._line0 {
    background-color: #943F90;
    color: #FFFFFF;
}

._line1 {
    background-color: #0572B9;
    color: #FFFFFF;
}

._line2 {
    background-color: #ADACAC;
    color: #303030;
}

._line3 {
    background-color: #D14A43;
    color: #FFFFFF;
}

._hidden {
    display: none;
}

.line0 {
    fill: #943F90;
}

.line1 {
    fill: #0572B9;
}

.line2 {
    fill: #ADACAC;
}

.line3 {
    fill: #D14A43;
}

._bold {
    font-weight: 700;
}

.time-icon {
    fill: #ffffff;
}

.load-percent, .sub-time  {
    color: #ffffff;
}

.sub-time__icon > path {
    fill: #ffffff;
}

.arrow__icon > g > path {
    fill: #7E7E7E;
}